@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500;700&family=Libre+Baskerville:wght@400;700&family=Montserrat:wght@300;400;500;700&family=Noto+Sans+KR:wght@400;500;700;900&family=Noto+Serif+KR:wght@400;500;600;700&display=swap');

/* ------------------------ 초기화 ------------------------ */
html, body, div, header nav, section, aside, footer, figure, figcaption, legend, ul, ol, li, dl, dt, dd, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

fieldset {
    border: 0;
}

/* ------------------------ 숨김 콘텐츠 ------------------------ */
.hidden, legend, caption {
    position: absolute;
    left: -9999px;
}

/* ------------------------ 웹 폰트 ------------------------ */
@font-face {
    font-family: "Nanum";
    font-weight: 400;
    src: url("font/NanumGothic.eot?#iefix") format("embedded-opentype"),
        url("font/NanumGothic.woff") format("woff"),
        url("font/NanumGothic.ttf") format("truetype");
}

@font-face {
    font-family: "NanumBold";
    font-weight: 600;
    src: url("font/NanumGothicBold.eot?#iefix") format("embedded-opentype"),
        url("font/NanumGothicBold.woff") format("woff"),
        url("font/NanumGothicBold.ttf") format("truetype");
}

@font-face {
    font-family: "NanumEX";
    font-weight: 900;
    src: url("font/NanumGothicExtraBold.eot?#iefix") format("embedded-opentype"),
        url("font/NanumGothicExtraBold.woff") format("woff"),
        url("font/NanumGothicExtraBold.ttf") format("truetype");
}

/* ------------------------ 도형 글꼴 ------------------------ */
@font-face {
    font-family: "webcafeIcon";
    src: url("font/webcafeIcon.eot?#iefix") format("embedded-opentype"),
        url("font/webcafeIcon.woff") format("woff"),
        url("font/webcafeIcon.ttf") format("truetype"),
        url("font/webcafeIcon.svg#webcaferegular") format("svg");
}

/* ------------------------ 링크 스타일 ------------------------ */
a:link {
    color: #4f4f4f;
    text-decoration: none;
}

a:visited {
    color: #8a8e91;
    text-decoration: none;
}

a:hover, a:focus {
    color: #5e4200;
    text-decoration: none;
}

/* ------------------------ 기본 스타일 ------------------------ */
body {
    font-family: 'Noto Sans KR', sans-serif;;
    color: #1b1b1b;
    background-color: #fff;
    font-size: 0.75em;
    line-height: 1.2;
}

/* ------------------------ 건너뛰기 ------------------------ */
#skipNav {
    position: absolute;
    left: -9999px;
}

#skipNav:focus {
    left: 50%;
    margin: 3px 0 0 -3em;
    padding: 5px 15px;
    background-color: #000;
    color: #fff;
    outline: 0; 
    z-index: 10;    
}

/* ------------------------ 전체적인 레이아웃 ------------------------ */
header, #visual, #contentsArea, #slogan, #footerInner {
    width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
}

#wrapper {
    background: url("/webcafe/css/images/bg_flower.png"), linear-gradient(to bottom, #f6e3be 0%, #fff 70%, #fff 100%);
    background-repeat: no-repeat;
    background-position: center top;
}

/* ------------------------ 헤더 영역 ------------------------ */
header {
    height: 110px;
    position: relative;
    /* background-color: #fff; */
    border-radius: 0 0 15px 15px;
    padding: 0 30px;
}

/* H1 */
.logo {
    position: absolute;
    top: 37px;
    left: 60px;
}

/* infoLink */
.infoLink {
    text-align: right;
}

.infoLink > li {
    display: inline-block;
    padding: 8px 0 7px 3px;
}

.infoLink a::before {
    content: ":";
    padding-right: 8px;
}

.infoLink > li:first-child a::before {
    content: "";
}

/* mainMenu */
.mainMenu {
    background-image: linear-gradient(to bottom, #de8a46 0%, #a7530e 100%);
    padding-left: 265px;
    height: 45px;
    border-top: 1px solid #000;
    border-radius: 0 0 15px 15px;
}

.mainMenu > li {
    position: relative;
}

.mainMenu li, .mainMenu a {
    display: inline-block;
}

.mainMenu > li > a {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    padding: 14px 20px 15px;
    color: #fff;
    /* letter-spacing: 1px; */
    text-shadow: 1px 0 0 rgba(0,0,0,0.2),
                -1px 0 0 rgba(0,0,0,0.2),
                0 1px 0 rgba(0,0,0,0.2), 
                0 -1px 0 rgba(0,0,0,0.2);
    border-left: 1px solid #fff;
}

.mainMenu > li > a:hover, .mainMenu > li > a:focus {
    color: #fff2d2;
}

.mainMenu > li > a:hover::after, .mainMenu > li > a:focus::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #000;
    width: 100%;
    position: relative;
    top: 13px;
}

.mainMenu ul {
    position: absolute;
    z-index: 10;
    white-space: nowrap;
}

.mainMenu ul a {
    padding: 7px 0 7px 15px;
}

.mainMenu ul a::before {
    font-family: "webcafeIcon";
    content: "r";
    color: #666;
    position: relative;
    top: 2px;
}

.mainMenu ul a:hover::before, .mainMenu ul a:focus::before {
    content: "c";
    color: #5e4200;
}

.mainMenu > li:hover ul {
    display: block;
}

.aboutHTML {
    display: none;
}

.aboutCSS {
    display: none;
}

.webStandard {
    display: none;
}

.webAccessibility {
    display: none;
    left: -125px;
}

.qna {
    display: none;
    left: -165px;
}

.archive {
    display: none;
    right: 0;
}

/* ------------------------ 비주얼 영역 ------------------------ */
#visual {
    height: 120px;
    position: relative;
}

#visual p {
    position: absolute;
    font-family: 'Libre Baskerville', serif;
    font-size: 2em;
    font-weight: 700;
    top: 80px;
    left: 420px;
    animation: moveText 1s;
}

#visual::before, #visual::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 140px;
    animation: moveFlower 2s alternate infinite;
}

#visual::before {
    background-image: url("images/ani_flower_01.png"),
                        url("images/ani_flower_02.png");
    background-repeat: no-repeat;
    background-position: 0 5px, 670px 0;
}

#visual::after {
    background-image: url("images/ani_flower_03.png"), url("images/ani_flower_04.png");
    background-repeat: no-repeat;
    background-position: 300px 35px, 800px 65px;
    animation-delay: 1s;
}

@keyframes moveText {
    0% {
        font-size: 1em;
        top: 0;
        left: 0;
        opacity: 0.2;
    }

    100% {
        font-size: 2em;
        top: 80px;
        left: 420px;
        opacity: 1;
    }
}

@keyframes moveFlower {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0;
    }
}
/* ------------------------ 메인 콘텐츠 영역 ------------------------ */
#contentsArea {
    min-height: 400px;
    padding: 30px 0 30px 30px;
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-flow: row wrap;
}

/* ------------------------ 슬로건 영역 ------------------------ */
#slogan {
    padding: 15px 0;
    position: relative;
}

/* IR기법 */
#slogan > h2 {
    width: 110px;
    height: 90px;
    background: url("images/coffee.png") no-repeat;
    background-size: 110px 90px;
    text-indent: 110px;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    bottom: -25px;
    left: 30px;
}

#slogan > p {
    width: 700px;
    margin: 0 100px 0 200px;
    color: #a09784;
    font-size: 1.1em;
}

#slogan q {
    font-weight: 600;
}

#slogan q::before{
    font-size: 3em;
    color: #765725;
    position: relative;
    top: 15px;
    left: -5px;
}

#slogan q::after {
    content: "";
}

/* ------------------------ 푸터 영역 ------------------------ */
#footer {
    padding: 15px 0;
    background-image: linear-gradient(to bottom, #d5ccba 0%, #e8e2d5 40%, #fff 100%);
}

#footerInner {
    position: relative;
}

.footerLogo {
    position: absolute;
    left: 35px;
    top: 35px;
}

.guide, address, .copyright {
    margin-left: 200px;
    margin-right: 100px;
}

.guide {
    background-color: #83714d;
    border-radius: 5px;
    padding-left: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

.guide li {
    display: inline-block;
}

.guide a {
    display: inline-block;
    color: #fff;
    padding: 10px 15px 10px 0;
}

.guide a::before {
    content: "|";
    padding-right: 20px;
    color: #eee2c6;
    font-weight: 600;
}

.guide li:first-child a::before {
    content: "";
}

address {
    font-style: normal;
    margin-bottom: 5px;
}

address > span {
    margin-right: 10px;
}

.copyright {
    margin-bottom: 20px;
}

.techLogoArea {
    position: absolute;
    right: 0;
    top: 0;
}