@charset "utf-8";

/* ------------------------ 공통 요소 ------------------------ */
/* 더 보기 버튼 */
a.more {
    font-weight: 500;
    color: #282828;
    position: absolute;
}
a.more::before {
    font-family: "webcafeIcon";
    content: "p";
    color: #117f2f;
    margin-right: 3px;
    position: relative;
    top: 1px;
}

/* ------------------------ usefulArea 영역 ------------------------ */
#usefulArea {
    width: 250px;
    margin-right: 30px;
}

/* login section */
.login {
    padding: 10px;
    background: radial-gradient(circle at top right, #ffa65c, #d17529);
    border-radius: 10px;
    box-shadow: -1px -1px 5px rgba(0,0,0,0.4);
}

.login fieldset {
    margin: 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
}

.login > h2 {
    color: #f7f7d4;
    font-size: 1.2em;
    padding: 0 0 10px 10px;
}

.login > form {
    background-color: #fff;
    position: relative;
    border-radius: 3px 3px 0 0;
    padding: 10px 10px 0 10px;
}

.login label {
    display: inline-block;
    width: 48px;
}

.login input {
    width: 93px;
    height: 18px;
    padding: 1px 1px 1px 4px;
    border: 1px solid #ccc;
}

#userId {
    margin-bottom: 6px;
}

.login button {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    background-color: #c16010;
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-weight: 500;
    font-size: 0.9em;
}

.memberLink {
    padding: 0 10px;
    background-color: #fff;
    position: relative;
    border-radius: 0 0 3px 3px;
    overflow: hidden;
}

.memberLink a::before {
    font-family: "webcafeIcon";
    content: "g";
    color: #c16010;
    margin-right: 2px;
    position: relative;
    top: 1.5px;
}

.join {
    float: left;
    padding: 10px 0;
}

.find {
    float: right;
    padding: 10px 0;
}

/* validation section */
.validation {
    margin-top: 20px;
}

.validation li {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 1.5rem;
    background-image: linear-gradient(to bottom, #fff 0%, #ebebeb 100%);
}

.validation a {
    display: block;
    height: 30px;
    color: #9c9c9c;
    font-weight: 500;
    line-height: 30px;
    background: url("images/validation_icon.png") no-repeat 20px 6px;
    box-sizing: 20px 20px;
    text-indent: 45px;
}

/* term section */
.term {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px 20px;
    background: linear-gradient(to bottom, #fff 0%, #e7e7e7 100%);
}

.term h2 {
    font-size: 1.2em;
}

.term dl {
    margin-top: 15px;
    overflow: hidden;
}

.term dt {
    float: right;
    width: 130px;;
    color: #3078AE;
    font-weight: 700;
    margin-bottom: 5px;
}

.term dd:nth-of-type(1) {
    float: left;
}

.term dd:nth-of-type(2) {
    float: right;
    width: 130px;
    line-height: 1.45;
    text-align: justify;
}

/* ------------------------ infoArea 영역 ------------------------ */
#infoArea {
    width: 390px;
    margin-right: 30px;
}

/* search section */
.search {
    padding: 10px 15px 0 15px;
    border-radius: 1rem 1rem 0 0;
    background: linear-gradient(to bottom, #e4e4e4 0%, #fff 40%, #fff 100%);
}

.search label {
    padding: 2px 0 4px 2px;
    font-weight: 700;
    color: #3a3a3a;
}

.search label::before {
    font-family: "webcafeIcon";
    content: "z";
    font-size: 1.5em;
    font-weight: normal;
    margin-right: 5px;
    position: relative;
    top: 5px;
}

#keyword {
    width: 196px;
    height: 18x;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    
}

.search button {
    padding: 3px 10px;
    border: 0;
    border-radius: 3px;
    background: linear-gradient(to bottom, #888888 0%, #282828 40%, #282828 100%);
    color: #fff;
    font-weight: 500;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
}

.search button:hover {
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

/* board div */
.board {
    margin-top: 20px;
    height: 175px;
    position: relative;
}

.board section {
    position: relative;
}

.board section:target {
    z-index: 10;
}

.board h2 {
    float: left;
    font-size: 1em;
}

.board h2 a {
    display: inline-block;
    padding: 6px 15px;
    color: #7a7a7a;
    font-weight: 700;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(to bottom, #fcfcfc 0%, #dddddd 100%);
}

.board section:target h2 a {
    color: #c16010;
    border: 2px solid #c16010;
    background: #fff;
    border-bottom: 0;
}

.board::before {
    content: "";
    position: absolute;
    left: 0;
    top: 28px;
    width: 340px;
    height: 1px;
    background: linear-gradient(to right, #d1d1d1 0%, #fff 100%);
}

.board ul {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: #fff;
}

.board ul a {
    display: inline-block;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.board ul a::before {
    font-family: "webcafeIcon";
    content: "r";
    margin-right: 2px;
    position: relative;
    top: 1px;
}

.board li {
    margin-bottom: 10px;
} 

.board time {
    position: absolute;
    right: 0;
    color: #7a7a7a;
}

.board a.more {
    top: 0;
    right: 0;
    padding: 8px;
}

/* news section */
.news {
    margin-top: 20px;
    position: relative;
}

.news::before {
    content: "";
    position: absolute;
    left: 0;
    top: 35px;
    width: 340px;
    height: 1px;
    background: linear-gradient(to right, #d1d1d1 0%, #fff 100%);
}

.news h2 {
    font-size: 1.2em;
    color: #c16010;
    padding: 8px;
}

.news article {
    margin: 20px 0 0 130px;
}

.news article h3 {
    margin-bottom: 10px;
    font-size: 1em;
}

.news article h3::before {
    font-family: "webcafeIcon";
    content: "r";
    color: #666;
    position: relative;
    top: 2px;
}

.news figure {
    position: absolute;
    top: 55px;
    left: 5px;
    text-align: center;
}

.news figure img {
    box-shadow: 0 10px 15px #eee;
    margin-bottom: 15px;
}

.news time {
    font-size: 0.9em;
    margin-left: 12px;
}

.news p {
    margin: 10px 0 0 12px;
    text-align: justify;
    line-height: 1.5;
}

.news a.more {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px;
}

/* ------------------------ linkArea 영역 ------------------------ */
#linkArea {
    width: 200px;
    margin-right: 30px;
}
/* eventRelatedArea div */
.eventRelatedArea {
    border: 1px solid #CCC;
    border-radius: 5px;
    background: linear-gradient(to bottom, #fff 0%, #f4f4f4 100%);
    padding: 10px 13px;
}

.eventRelatedArea h2 {
    font-size: 1rem;
}

.eventRelatedArea h2 > span {
    color: #cf6814;
}

/* event section */
.event {
    position: relative;
    border-bottom: 1px solid #ccc;
}

#eventDetail {
    margin-top: 10px;
}

#eventDetail img {
    border: 0.5px solid #dfdfdf;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    margin-left: 3px;
}

#eventDetail p {
    padding: 10px 0;
    line-height: 1.3;
}

#eventDetail em {
    font-style: normal;
}

/* btnEventArea div */
.btnEventArea {
    position: absolute;
    right: 0;
    top: 2px;
}

.btnEventArea a {
    display: inline-block;
    width: 20px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-indent: 20px;
    background-image: url(images/back_forward.png);
    background-repeat: no-repeat;
}

.btnEventPrev {
    background-position: 0 0;
}

.btnEventNext {
    background-position: 100% 0;
}

/* relatedLink section */
.relatedLink {
    margin-top: 10px;
}

.relatedLink > ul {
    margin-top: 10px;
    height: 25px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
    transition: height 0.2s;
}

.relatedLink > ul:hover {
    height: 125px;
    padding: 10px 0;
}

.relatedLink li {
    height: 25px;
    line-height: 25px;
    text-indent: 1.5em;
}

.relatedLink a:hover {
    color: #e3873b;
    font-weight: 500;
}

.relatedLink a {
    display: block;
}

/* hotLink section */
.hotLink {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: linear-gradient(to bottom, #fff 0%, #f4f4f4 100%);
    padding: 10px 13px;
    position: relative;
}

.hotLink h2 {
    font-size: 1rem;
}

.hotLink h2 > span {
    color: #cf6814;
}

.hotLink ol {
    margin-top: 5px;
    padding: 0;
    overflow: hidden;
}

.hotLink li {
    position: relative;
    margin-top: 7px;
    counter-increment: number;
}

.hotLink li::before {
    content: counter(number, decimal);
    border-radius: 3px;
    background-color: rgb(161, 161, 161);
    color: #fff;
    padding: 2px 5px;
    font-size: 0.5rem;
    margin-right: 5px;
}

.hotLink li:last-child {
    margin-bottom: 2px;;
}

.hotLink em {
    float: right;
    width: 8px;
    height: 0;
    overflow: hidden;
    padding-top: 12px;
    background: url(images/rank.png) no-repeat;
}

.hotLink em.up {
    background-position: 0 0;
}

.hotLink em.stop {
    background-position: 0 50%;
}

.hotLink em.down {
    background-position: 0 100%;
}

.hotLink > .more {
    right: 10px;
    top: 10px;
}