@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500;700&family=Libre+Baskerville:wght@400;700&family=Montserrat:wght@300;400;500;700&family=Noto+Sans+KR:wght@400;500;700;900&family=Noto+Serif+KR:wght@400;500;600;700&display=swap');

/* 공통 */
#memberArea, #twitterArea {
    font-family: 'Noto Sans KR', sans-serif;
}

/*------------------ memberArea Section ------------------*/
#memberArea {
    width: 630px;
    margin-right: 30px;
    position: relative;
}

#memberArea h2 {
    font-size: 1.5em;
    color: #c16010;
    font-weight: 500;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #c16010;
}

.breadcumbs {
    position: absolute;
    top: 18px;
    right: 0;
}

.breadcumbs strong {
    color: #1F62AE;
}

.formSign {
    text-align: right;
    margin: 30px 0 10px;
}

.required {
    display: inline-block;
    width: 10px;
    height: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-indent: 10px;
}

.required::before {
    font-family: "webcafeIcon";
    content: "s";
    color: #c16010;
    position: relative;
    left: -10px;
}

/* form */
#joinForm {
    border-top: 2px solid #ccc;
}

fieldset {
    padding: 0;
}

#joinForm p {
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    position: relative; 
}

#joinForm label, .mailing em {
    float: left;
    width: 120px;
    padding: 13px 20px;
    margin-right: 10px;
    font-weight: 500;
    color: #3b3b3b;
    background-color: #fffbf3;
}

#joinForm .mailing label {
    float: none;
    padding: 0;
    width: auto;
    background-color: #fff;
}

#joinForm input {
    margin: 10px 0;
}

#joinForm input::placeholder {
    color: #9c9c9c;
}

#joinForm input:not([type="radio"]) {
    border: 1px solid #ccc;
    height: 18px;
    padding-left: 7px;
}

#joinForm input[type="radio"] {
    margin: 0;
}

a.idCheck, a.findZipcode {
    border-radius: 20px;
    background-color: #c16010;
    padding: 3px 15px;
    margin-left: 5px;
    font-weight: 500;
    color: #fff;
    text-shadow: 1px 1px 1px #7f3d07,
                1px -1px 1px #7f3d07;
}

input#address {
    display: block;
    margin: 0;
}

.labelAddress {
    height: 50px;
    line-height: 50px;
}

.mailing em {
    font-style: normal;
    height: 35px;
    line-height: 35px;
}

.mailing span {
    display: block;
    margin: 10px 0;
}

/* btnJoinArea */
.btnJoinArea {
    margin-top: 20px;
    text-align: center;
}

.btnJoinArea button {
    font-weight: 500;
    font-size: 1.2em;
    color: #fff;
    padding: 8px 20px;
    border: 0;
    margin: 0 5px;
    border-radius: 3px;
    letter-spacing: 1px;
}

.btnOk {
    background: linear-gradient(to bottom, rgba(98,98,98,0.8) 0%, rgb(98,98,98) 50%, rgb(81,81,81) 100%);
}

.btnCancel {
    background: linear-gradient(to bottom, rgba(145,145,145,0.8) 0%, rgb(145,145,145) 50%, rgb(81,81,81) 100%);
}

.btnOk::before {
    font-family: "webcafeIcon";
    content: "h";
    position: relative;
    top: 5px;
    left: -5px;
    font-size: 1.5em;
    line-height: 0;
}

/*------------------ twitterArea Section ------------------*/
#twitterArea {
    width: 210px;
    margin-left: 30px;
    position: relative;
    margin-top: 15px;
}